In [5]:
import streamlit as st
import pandas as pd
import numpy as np
import gspread
import df2gspread as d2g

In [6]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [18]:
gc = gspread.service_account(filename='/Users/rafidafatimatuzzahra/Documents/side gig/dashboard monev/reportBH/jsonFileFromGoogle.json')
sh = gc.open_by_url("https://docs.google.com/spreadsheets/d/1rkln3HOcmNM79hxNPxX6BPev4yc_ywlHm-LAe6a4j0M/edit?usp=sharing")

worksheet = sh.worksheet("admin")
df = pd.DataFrame(worksheet.get_all_records())
df

In [31]:
SPREADSHEET_ID = '1rkln3HOcmNM79hxNPxX6BPev4yc_ywlHm-LAe6a4j0M' # dashboard monev
FORMAT = 'xlsx'
SHEET_ID = '356714709' # form
url = f"https://docs.google.com/spreadsheets/d/{SPREADSHEET_ID}/export?format={FORMAT}&gid={SHEET_ID}"

df = pd.read_excel(url)
df

             email   password department
0   test@gmail.com   password  marketing
1  test2@gmail.com  qwerty123         IT

In [60]:
def login_user(username,password):
	# c.execute('SELECT * FROM userstable WHERE username =? AND password = ?',(username,password))
	# data = c.fetchall()
    usr = str(username)
    pwd = str(password)
    data = df.query(f'email == {usr} & password == {pwd}').values.tolist()
	# print(data)
    return data

login_user(test2, qwerty123)

NameError: name 'test2' is not defined

In [24]:
# Write a page title
st.title('Laporan Kegiatan Dashboard Monev')

SPREADSHEET_ID = '1rkln3HOcmNM79hxNPxX6BPev4yc_ywlHm-LAe6a4j0M' # dashboard monev
FORMAT = 'xlsx'
SHEET_ID = '1865598876' # form
url = f"https://docs.google.com/spreadsheets/d/{SPREADSHEET_ID}/export?format={FORMAT}&gid={SHEET_ID}"
# st.write(df)

,Timestamp,USER,KELAS,PLANNING,DOING,CHECKING,ACTUATING-FOLLOW UP,ACTUATING-HASIL,PHOTO
0,2021-10-23 22:57:29.760,guru kelas 1,KELAS 1 ABU BAKAR,Lorem Ipsum is simply dummy text of the printi...,"Lorem ipsum dolor sit amet, consectetur adipis...",Sed ut perspiciatis unde omnis iste natus erro...,At vero eos et accusamus et iusto odio digniss...,There are many variations of passages of Lorem...,NaN
1,2021-10-23 22:59:01.157,guru kelas 1,KELAS 1 UMAR,Etiam ut ante in justo posuere luctus tempor q...,"Lorem ipsum dolor sit amet, consectetur adipis...",Donec elementum felis sit amet ligula ultricie...,Nunc eu nibh ut eros euismod aliquet sed at or...,"Nullam tincidunt mi ut tortor vestibulum, rhon...",NaN
2,2021-10-24 00:00:00.000,admin,NaN,NaN,NaN,NaN,NaN,NaN,NaN